Repository Hattomo/kaikai_AI, pull requests merged in 2020-12, with the labels that each got.

#189 Remake Data save
  .gitignore
  cnn/cnn_analysistool.py
  cnn/main.py
  dnn/analysistool.py
  dnn/main.py
  shared/doc_maker.py
  shared/unbuffered.py
  tests/test_analysistool.py
  tests/test_cnn_analysistool.py
  tools/cleaner.py
Labels: CNN, DNN, Tests, Tools

#179 refactor dnn
  cnn/convolution_layer.py
  cnn/convolutional_neural_network.py
  cnn/csetting.py
  cnn/fully_connenct_layer.py
  cnn/main.py
  cnn/normalization_layer.py
  dataset/dataset.py
  dataset/logic_circuit.py
  dnn/dsetting.py
  dnn/main.py
  dnn/neural_network.py
  shared/setting.py
  shared/vectormath.py
  tests/test_cnn.py
  tests/test_cnn_main.py
  tests/test_dataset.py
  tests/test_dnn.py
  tests/test_dnn_main.py
  tests/test_logic_circuit.py
  tests/test_neural_network.py
  tests/test_pooling_layer.py
  tests/test_setting.py
  tests/test_vectormath.py
Labels: CNN, DNN, Priority High, Tests

#193 integrate analysistools
  cnn/cnn_analysistool.py
  cnn/main.py
  shared/analysistool.py
  tests/test_analysistool.py
  tests/test_cnn_analysistool.py
Labels: CNN, DNN, Tests

#194 Add weight load and save tests for dnn
  dnn/main.py
  shared/numpy_files.py
  tests/test_numpy_files.py
  tools/cleaner.py
Labels: CNN, DNN, Tests, Tools

#196 add-test-weight
  shared/setting.py
Labels: CNN, DNN

#197 Dnn forward test
  tests/test_dnn.py
Labels: Tests

#198 Windowsでファイルを開く際にencodingerrorになるバクの修正
  shared/doc_maker.py
Labels: CNN, DNN

#199 datasetの学習データと正解データを同時に作成可能に
  cnn/main.py
  dataset/dataset.py
  dataset/mnist.py
  dnn/main.py
  tests/test_mnist.py
Labels: CNN, DNN, Tests

#202 fix encoding error
  shared/doc_maker.py
Labels: CNN, DNN

#201 <提案>RNNの基本的な構造
  rnn/main.py
  rnn/reccurent_neural_network.py
Labels: RNN

#206 implement im2col
  cnn/convolution_layer.py
Labels: CNN

#205 implement mnist(28x28)
  cnn/convolution_layer.py
  cnn/main.py
  dnn/neural_network.py
Labels: CNN, DNN

#207 add function to reset weight and kernel
  cnn/convolution_layer.py
  cnn/convolutional_neural_network.py
  cnn/fully_connenct_layer.py
  cnn/main.py
  cnn/normalization_layer.py
  cnn/pooling_layer.py
  dnn/neural_network.py
Labels: CNN, DNN
