Repository Hattomo/kaikai_AI, pull requests merged in 2020-11, with the labels that each got.

#20 Add Yapf (Yet another python formatter (made by google)) format checker
  .github/workflows/yapf_check.yml
  .style.yapf
  dnn/activationfunction.py
  dnn/analysistool.py
  dnn/costfunction.py
  dnn/main.py
  dnn/makedata.py
  dnn/neural_network.py
  dnn/setting.py
  dnn/vectormath.py
Labels: Priority High

#22 Update Read.md
  README.md
Labels: documentation, nits

#35 Update LICENSE
  LICENSE
Labels: Trivial

#33 Close Order of import #32
  dnn/activationfunction.py
  dnn/analysistool.py
  dnn/files.py
  dnn/main.py
  dnn/makedata.py
  dnn/neural_network.py
  dnn/setting.py
  dnn/vectormath.py
Labels: Trivial

#38 Update README.md
  README.md
Labels: Trivial

#44 Create issue templates
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/usual.md
Labels: documentation

#45 Fix error : NN is not working
  dnn/main.py
  dnn/neural_network.py
Labels: DNN, Priority High, bug

#46 Add MNIST dataset for nn
  dataset/logic_circuit.py
Labels: DNN

#48 Avoid sigmoid overflow
  dnn/activationfunction.py
Labels: CNN, DNN

#47 Use numpy 128 bits float
  dataset/logic_circuit.py
  dnn/neural_network.py
  dnn/setting.py
  dnn/vectormath.py
Labels: CNN, DNN

#58 Migrate csetting
  cnn/convolution_layer.py
  cnn/csetting.py
  cnn/main.py
  cnn/setting.py
Labels: CNN, Trivial or Easy

#64 Add shared folder
  dnn/analysistool.py
  dnn/files.py
  dnn/main.py
  dnn/neural_network.py
  shared/activationfunction.py
  shared/costfunction.py
  shared/vectormath.py
Labels: DNN

#82 fix var
  shared/activationfunction.py
Labels: Bug

#83 fix error that cnn_ex cannot load
  dataset/logic_circuit.py
Labels: Bug, CNN

#84 Update PR template
  .github/pull_request_template.md
Labels: Documentation, Easy or Trivial

#85 Log chart
  dnn/analysistool.py
Labels: Easy or Trivial

#101 Add more tests
  tests/test_activationfunction.py
  tests/test_logic_circuit.py
  tests/test_neural_network.py
Labels: Tests

#105 fix error
  tests/test_logic_circuit.py
Labels: Tests

#106 add diff swish
  shared/activationfunction.py
  tests/test_activationfunction.py
Labels: CNN, DNN, Tests

#109 Step1 change label
  dataset/logic_circuit.py
  tests/test_dnn_main.py
  tests/test_logic_circuit.py
Labels: Tests

#110 Step2 Adopt 3D graph for N dimension
  dnn/analysistool.py
Labels: DNN

#99 Entropy
  dnn/neural_network.py
  shared/costfunction.py
  tests/test_costfunction.py
Labels: CNN, DNN, Tests

#96 Clean cl
  cnn/convolution_layer.py
  cnn/main.py
Labels: CNN

#102 Clean pl
  cnn/pooling_layer.py
  tests/test_pooling_layer.py
Labels: CNN, Tests

#114 modify main
  cnn/main.py
Labels: CNN

#120 Add github actions label
  .github/labeler.yml
Labels: GitHub Action

#116 Add graph test
  .github/workflows/pytest.yml
  dnn/analysistool.py
  requirements.txt
  tests/test_analysistool.py
  tests/test_dnn_main.py
  tests/test_mnist.py
Labels: DNN, GitHub Action, Tests

#111 Add cnn-main-tests
  tests/test_cnn_main.py
Labels: Tests

#123 delite test
  tests/test_convolution_layer.py
Labels: Tests

#131 Draft
  .github/labeler.yml
  README.md
Labels: Documentation, GitHub Action

#125 modify entropy
  dnn/main.py
  dnn/neural_network.py
  shared/costfunction.py
  tests/test_costfunction.py
Labels: CNN, DNN, Tests

#133 Add error
  dnn/analysistool.py
Labels: DNN

#132 clean up
  README.md
  tests/test_logic_circuit.py
Labels: Documentation, Easy or Trivial, Tests

#127 refactor rss
  shared/costfunction.py
  tests/test_costfunction.py
Labels: CNN, DNN, Tests

#124 Remake cl
  cnn/convolution_layer.py
  cnn/csetting.py
  cnn/main.py
Labels: CNN

#128 Change assrtless to np.close
  tests/test_activationfunction.py
Labels: Easy or Trivial, Tests

#118 Add Drop out
  dataset/logic_circuit.py
  dnn/analysistool.py
  dnn/dsetting.py
  dnn/main.py
  dnn/neural_network.py
  tests/test_dnn_main.py
  tests/test_dsetting.py
  tests/test_neural_network.py
Labels: DNN, Tests

#135 change test
  tests/test_activationfunction.py
Labels: Tests

#136 Update README.md
  README.md
Labels: Documentation

#145 Avoid tanh overflow
  shared/activationfunction.py
Labels: CNN, DNN

#151 Fix conditional branch rule
  dnn/analysistool.py
Labels: Bug, DNN

#144 Add shuffle train and test data function
  dataset/logic_circuit.py
  dnn/main.py
  tests/test_dnn_main.py
Labels: DNN, Tests

#152 Add Mnist16
  dataset/logic_circuit.py
  dataset/mnist.py
  dnn/main.py
  dnn/neural_network.py
  tools/image_resize.py
Labels: DNN

#158 Use np.flatten()
  cnn/fully_connenct_layer.py
Labels: CNN

#155 flag2external
  cnn/fully_connenct_layer.py
  dnn/neural_network.py
Labels: CNN, DNN

#153 Update labeler.yml
  .github/labeler.yml
Labels: GitHub Action

#154 Add accurancy graph
  dnn/analysistool.py
  dnn/main.py
  dnn/neural_network.py
  tests/test_analysistool.py
Labels: DNN, Tests

#160 Update DNN __compare()
  dnn/neural_network.py
Labels: DNN

#162 Fix __fit_train_ratio bug
  dnn/neural_network.py
Labels: Bug, DNN

#170 refactor dnn
  dnn/dsetting.py
  dnn/neural_network.py
  shared/activationfunction.py
  shared/costfunction.py
Labels: CNN, DNN

#163 Refactor
  cnn/convolution_layer.py
  cnn/fully_connenct_layer.py
  cnn/main.py
  cnn/pooling_layer.py
  dataset/logic_circuit.py
  dnn/main.py
  dnn/neural_network.py
  tests/test_pooling_layer.py
Labels: CNN, DNN, Tests

#174 add normalization layer
  cnn/main.py
  cnn/normalization_layer.py
  cnn/pooling_layer.py
Labels: CNN

#181 avoid [nan] in normlize layer
  cnn/normalization_layer.py
Labels: CNN

#183 Remake cnn
  cnn/cnn_analysistool.py
  cnn/convolution_layer.py
  cnn/main.py
  dataset/logic_circuit.py
  dataset/mnist.py
  tools/image_resize.py
Labels: CNN, DNN, Tools

#185 delete main tests
  tests/test_cnn_main.py
  tests/test_dnn_main.py
Labels: Easy or Trivial, Tests

#186 delete pytest import
  tests/test_analysistool.py
  tests/test_cnn_main.py
  tests/test_convolution_layer.py
  tests/test_dnn_main.py
  tests/test_dsetting.py
  tests/test_logic_circuit.py
  tests/test_mnist.py
  tests/test_neural_network.py
  tests/test_pooling_layer.py
  tests/test_vectormath.py
Labels: Easy or Trivial, Tests

#187 fix weight save and load issue
  .gitignore
  dnn/dsetting.py
  shared/numpy_files.py
Labels: CNN, DNN

#188 add kernel analysis tools
  cnn/cnn_analysistool.py
  cnn/convolution_layer.py
  cnn/main.py
  tests/test_cnn_analysistool.py
Labels: CNN, Tests
